<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Boletas Bancarizadas'" [items]="['Boletas']" [active_item]="'General'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="header">
              <h2><strong>Boleta</strong> Page</h2>
            </div>
            <div class="body">
              <form action="">
                <input type="text" name="matricula" id="matricula">
                <select name="mes" id="mes">
                  <option value="0" selected disabled>elija un mes</option>
                  <option *ngFor="let item of meses" value="{{item.cod_mes}}">{{item.descripcion}}</option>
                </select>
                <select name="gestion" id="gestion">
                  <option value="0" selected disabled>elija una gestion</option>
                  <option *ngFor="let item of gestiones" value="{{item}}">{{item}}</option>
                </select>
              </form>
              <!-- Add content here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>